<!-- <% if(categories) { %>
    <% categories.forEach((item)=>{%>
        <a href="" style="border-radius: 10px;overflow:hidden">
            <div class="category-image"><img src="/images/<%- item.image %>" alt="<%- item.name %>"><a href=""><%-
                        item.name %></a> </div>
        </a>
        <%}) %>
            <%}%> -->

<div class="all-Categories">
    <div class="category-contents">
        <h1>Explore All Categories</h1>
        <div class="navs">
            <a href="/">Home</a><span>/</span>
            <a href="/categories">Categories</a> <span>/</span>
            <p> Explore all Categories</p>
        </div>
    </div>
    <div class="category-images">
        <% if(typeof categories !=='undefined' && categories.length >0) { %>
            <% categories.forEach(item=>{ %>
                <a href="/categories/<%-item.category %> " class="lin">
                    <div class="each-category"><img src="/images/<%- item.image %>" alt="<%- item.name %>">
                        <a href="/categories/<%-item.category %>"><%- item.category %></a>
                    </div>
                </a>
           <% }) %>
      <%  }%>
  


    </div>
    <footer>
        <h6>Build By aflu</h6>
    </footer>
</div>